# config for haproxy 1.5.x

global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        # docker container dont need these config
        #user haproxy
        #group haproxy
        #daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option forwardfor
        option http-server-close
        stats enable
        stats auth someuser:somepassword
        stats uri /haproxyStats
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms
        
frontend http-in
        bind *:80

        # Define hosts
        acl fullstack_wp1 hdr(host) -i wp1.fullstackviet.com
        acl fullstack_wp2 hdr(host) -i wp2.fullstackviet.com

        ## figure out which one to use
        use_backend docker_wordpress1 if fullstack_wp1
        use_backend docker_wordpress2 if fullstack_wp2

backend docker_wordpress1
        mode http
        balance roundrobin
        option forwardfor
        server nodeA wordpress1:80 check

backend docker_wordpress2
        mode http
        balance roundrobin
        option forwardfor
        server nodeA wordpress2:80 check